<html lang="pt-BR">

<head th:replace="~{base :: head}"></head>

<body class="bg-dark text-white">

    <div th:replace="~{base :: logo}"></div>

    <div class="container">

        <h1 class="display-4 text-warning">Meus Pedidos</h1>
        <hr>

        <nav class="navbar navbar-expand navbar-light d-flex justify-content-between mb-3 bg-dark">
            <div class="navbar-nav">
                <a th:classappend="${status} == 'null' ? 'active'" class="nav-item nav-link active text-warning" href="/home">Todos</a>
                <a th:classappend="${status} == 'aguardando' ? 'active'" class="nav-item nav-link text-warning" href="/home/aguardando">Aguardando</a>
                <a th:classappend="${status} == 'aprovado' ? 'active'" class="nav-item nav-link text-warning" href="/home/aprovado">Aprovado</a>
                <a th:classappend="${status} == 'entregue' ? 'active'" class="nav-item nav-link text-warning" href="/home/entregue">Entregue</a>
            </div>
            <a href="/pedido/formulario"><button class="btn btn-outline-warning">Novo</button></a>
        </nav>

        <div class="card mb-3" th:each="pedido : ${listaPedidos}">

            <th:block th:switch = "${#strings.toString(pedido.status)}">
                <div th:case="'AGUARDANDO'" class="card-header text-dark alert-warning" th:text="${pedido.nomeProduto}">Nome do produto</div>
                <div th:case="'APROVADO'" class="card-header text-dark alert-success" th:text="${pedido.nomeProduto}">Nome do produto</div>
                <div th:case="'ENTREGUE'" class="card-header text-dark alert-dark" th:text="${pedido.nomeProduto}">Nome do produto</div>
            </th:block>

            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm-8 mb-3">
                        <div class="row text-dark">
                            <div class="col-md-5">Valor: <span th:text="${pedido.valorNegociado}">150</span></div>
                            <div class="col-md-7">Data da entrega: <span th:text="${pedido.dataEntrega}">10/05/2022</span></div>
                        </div>

                        <div>Produto</div>
                        <div><input class="form-control" th:value="${pedido.urlProduto}" value="url do produto"/></div>

                        <div>Descrição</div>
                        <div>
                            <textarea rows="10" class="form-control" th:text="${pedido.descricao}">descrição do pedido</textarea>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div>
                            <img class="img-thumbnail" th:src="${pedido.urlImagem}" src=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>