<html lang="pt-BR">

<head th:replace="~{base :: head}"></head>

<body class="bg-dark text-white">

    <div th:replace="~{base :: logo}"></div>

    <div class="container">
        <div>
            <h1 class="display-4 text-warning">Novo Pedido</h1>
            <hr>
        </div>

        <div class="card text-dark mt-3">
            <form th:object="${requisicaoNovoPedidoDTO}" class="card-body" action="/pedido/novo" method="POST">
                <div class="form-group mb-3">
                    <label for="nomeProduto">Produto</label>
                    <input th:field="*{nomeProduto}" th:errorclass="is-invalid" class="form-control" placeholder="nome do produto"/>
                    <small>Informa qual o nome do produto.</small>
                    <div class="invalid-feedback" th:errors="*{nomeProduto}">
                        Erros do nome do produto
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="urlProduto">Url</label>
                    <input th:field="*{urlProduto}" th:errorclass="is-invalid" class="form-control" name="urlProduto" placeholder="url do produto"/>
                    <small>Informa o link do site que tem o produto.</small>
                    <div class="invalid-feedback" th:errors="*{urlProduto}">
                        Erros do nome do produto
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="urlImagem">Imagem</label>
                    <input th:field="*{urlImagem}" th:errorclass="is-invalid" class="form-control" name="urlImagem" placeholder="url da imagem"/>
                    <small>Copie o endereço da imagem e cole aqui para ajudar na visualização.</small>
                    <div class="invalid-feedback" th:errors="*{urlImagem}">
                        Erros do nome do produto
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="descricao">Descricao</label>
                    <textarea class="form-control" name="descricao" placeholder="Adicione detalhes importantes sobre o produto"></textarea>
                </div>
                
                <button class="col-12 btn btn-warning btn-lg btn-block" type="submit">Cadastrar</button>
            </form>
        </div>
    </div>

</body>
</html>